.cloudResContainer(id="cloudResContainer"+short  data=)
script.
    setTimeout(()=> {
        createTagView(!{short})
        return;
        console.log("ddd", document.getElementsById("cloudResContainer!{short}"))
        let data = !{JSON.stringify(data)}
        // create a chart and set the data
        let chart = anychart.tagCloud(data);

        // set the container id
        chart.container("cloudResContainer!{short}");

        // initiate drawing the chart
        chart.draw();
    },1000);
