extends layout
block head
block body
  .mainTower
    h1 test
    .regBox
      if !user
        .regBoxTile.mb.emailInput Для начала работы введите ваш email:
        .inputGroup.emailInput
          .errorMessaage Ошибка email
          input.regBoxEmail#regBoxEmail(type="email" value=email)
          input.regBoxButton#regBoxButton(type="button" value="Вход")
        .regBoxTile.mb.codeInput Введите код, прислынный на ваш email:
        .inputGroup.codeInput
          .errorMessaage Код неверный, попробуйте еще раз
          input.regBoxEmail#regBoxCode(type="text" value=email)
          input.regBoxButton#regBoxConfirmButton(type="button" value="Проверить")
      else
        .regBoxTile.mb.emailInput Вы уже зарегистрированы.
        input.btn(type="button" onclick="document.location.href='/userEvent/"+user.guid+"'" value="Вход")

  script(src="/scripts/mainScript.js")
