extends layout
block head
block body
  .mainTower
    .regBox
      if !user
        .mt Войти через:
          .flex.left
            .mb3.logonBtn(onclick="regVK()")
              include svg/vk.svg
            .mb3.logonBtn(onclick="regYA()")
              include svg/yalogo.svg


        //.comment
          .regBoxTile.mb.emailInput Войти через email:
          .inputGroup.emailInput
            .errorMessaage Ошибка email
            input.regBoxEmail#regBoxEmail(type="email" value=email)
            input.regBoxButton#regBoxButton(type="button" value="Вход")
          .regBoxTile.mb.codeInput Введите код, прислынный на ваш email:
          .inputGroup.codeInput
            .errorMessaage Код неверный, попробуйте еще раз
            input.regBoxEmail#regBoxCode(type="text" value=email)
            input.regBoxButton#regBoxConfirmButton(type="button" value="Проверить")
          .regBoxTile.mb(onclick="regVK()") Войти через VK
            .mb3
              include svg/vk.svg
          .regBoxTile.mb(onclick="regYA()") Войти через Yandex
            .mb3
              include svg/yalogo.svg
      else
        .regBoxTile.mb.emailInput Вы зарегистрированы как <br><b> #{user.i} #{user.f} </b>
        .flex.left
          input.btn.LoginBtn(type="button" onclick="document.location.href='/userEvent/'" value="Перейти к мероприятию")
          input.btn.LoginBtn(type="button" onclick="document.location.href='/logout/'" value="Выйти")



  script(src="/scripts/mainScript.js")
