extends ./layout
block head
block body
    .mainTower
        #app
            .qSendWr(v-if="event.isQ")
                textarea.mb(placeholder="Ваш вопрос" v-model="qText")
                .qBtnGroup
                    .btn.flex.center(v-on:click="sendQ()")
                        div Отправить
            .fullScreenWr.flex.center(v-if="showPersonBox")
                .fullScreenBox
                    .h.mb.mt Пожалуйста, зарегистрируйтесь

    script let short=!{JSON.stringify(event.short)}
    script(src="/scripts/vue.min.js")
    script(src="/scripts/workScript.js")
