extends ./layout
block head
block body
    .mainTower
        #app
            .qSendWr(v-if="event.isQ")
                textarea.mb(placeholder="Ваш вопрос" v-model="qText")
                .qBtnGroup
                    .btn Отправить
    script let short=!{JSON.stringify(event.short)}
    script(src="/scripts/vue.min.js")
    script(src="/scripts/workScript.js")
