extends ./layout
block head
block body
    .mainTower
        #app
            .qSendWr(v-if="event.isQ")
                textarea.mb(placeholder="Ваш вопрос" v-model="qText")
                .qBtnGroup
                    .btn.flex.center(v-on:click="sendQ()")
                        div Отправить
            .fullScreenWr.flex.center(v-if="showPersonBox")
                .fullScreenBox
                    .h.mb.mt Пожалуйста, зарегистрируйтесь
                    .regGroup.mb.flex.left
                        .regGroupTitle *Имя
                        input(v-model="person.f")
                    .regGroup.mb.flex.left
                        .regGroupTitle *Фамилия
                        input(v-model="person.f")
                    .regGroup.mb.flex.left
                        .regGroupTitle *Телефон
                        input(v-model="person.phone")
                    .regGroup.mb.flex.left
                        .regGroupTitle *Email
                        input(v-model="person.email")
                    .regGroup.mb.flex.left
                        .regGroupTitle Организация
                        input(v-model="person.org")

    script let short=!{JSON.stringify(event.short)}
    script(src="/scripts/vue.min.js")
    script(src="/scripts/workScript.js")
