extends ./layout
block head
    <link href="https://vjs.zencdn.net/8.0.4/video-js.css" rel="stylesheet" />
block body
    .mainTower
        #app.mb3
            .mb3
            .pQWr.mb(v-for="cloud in clouds" v-if="cloud.isActive" )
                .h.mb {{cloud.title}}
                .mb(v-if="!cloud.isComplite")
                    .errorMessaage.mb2 Введите ваши варианты ответа через запятую. Введенное можно изменить до окончания голосования.
                    .vItemTitle.mb2
                        input.vItemTitleInput(v-model="cloudAnswer[cloud.short]"  )
                    .qBtnGroup
                        .btn.flex.center.btnCloud(:id="'cloudBtn'+cloud.id" v-on:click="sendCloud(cloud)") Отправить
                .mb(v-if="cloud.isComplite")
                    .cloudRes(v-if="!cloudHTML[cloud.short]")
                        .h Подождите, идет загрузка...
                    .cloudResContainer(v-else :id="'cloudResContainer'+cloud.short")
            .pQWr.mb3(v-for="vote in votes" v-if="vote.isActive" )
                .h.mb {{vote.title}}
                .errorMessaage.mb3(v-if="vote.isMulti") Выбрите несколько ответов. Выбор можно изменить до окончания голосования.
                .errorMessaage.mb3(v-else) Выбрите один ответ. Выбор можно изменить до окончания голосования.
                .voteAnswers.mb(v-if="!vote.isComplite")
                    .voteAnswer.flex.left.mb2(v-for="a in vote.answers" v-on:click="voting(a, vote)" v-bind:class="{active:isAnswered(a)}" v-if="a.title && a.title.length>0 && !a.isDeleted" )
                        .voteAnswerTitle {{a.title}}
                        .voteButton(:id="'voteBtn'+a.id" )
                            span(v-if="!isAnswered(a)") Выбрать ответ
                            span(v-else) Ваш выбор

                .voteAnswers.m3.isComplite(v-if="vote.isComplite")
                    .voteAnswer.mb2(v-for="a in vote.answers"  v-bind:class="{active:isAnswered(a)}" v-if="a.title && a.title.length>0 && !a.isDeleted" )
                        .flex.left.mb
                            .voteAnswerTitle {{a.title}}
                            .voteResBox.flex.left.h(v-bind:class="{active:isAnswered(a)}")
                                .voteResBoxPers {{formatPerc(a.perc)}}%
                                    span(v-if="a.hands") , {{a.hands}}
                        .voteResPercent(:style="'width:'+a.perc +'%'")


            .mb3
                .clientPlayer(v-for="player in players")
                    .videoWrapper(v-html="player.YT" v-if="player.type==0")
                    .videoWrapper(v-if="player.type==1")
                        video.video.video-js(:id="player.short" width='1280' height='720' controls="controls" playsinline)
                    .clBaro(v-for="baro in baros")
                        include eventElems/sBaro
            .pQWr.mb3(v-if="event.isQ")
                .h.mb3 Вопросы:
                .pqContainer
                    .pqBox.mb(v-on:scroll="onScrollQ($event)")
                        .qItem.mb(v-if="q.length==0")
                            .pqItemTitle Пока вопросов не задано
                        .qItem.mb(v-for="item in q" :qid="item.id")
                            .qItemHead {{item.date}} {{item.i}} {{item.f}}
                            .pqItemText {{item.text}}
                            .errorMessaage(v-if="!item.isMod") Вопрос на модерации
                    .pbNewQWr(v-if="newQ>0" v-on:click="scrollQ()")
                            .pbNewQText {{newQ}}
                            .pbNewQDescr новых

                .qSendWr(v-if="event.isQ")
                    textarea.mb(placeholder="Ваш вопрос" v-model="qText")
                    .qBtnGroup
                        .btn.flex.center(v-on:click="sendQ()")
                            div Отправить
            .pQWr.mb3(v-if="files.length>0")
                .h.mb3 Файлы:
                .pqContainer
                        .pqBox.mb
                            .qItem.mb(v-for="item in files")
                                .flex.left.mb2
                                    .fileDlWr(v-on:click="downloadEventFile(item)")
                                        .fileDlIco
                                            <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M8 0C8.26522 0 8.51957 0.105357 8.70711 0.292893C8.89464 0.48043 9 0.734784 9 1V11.586L11.293 9.293C11.4816 9.11084 11.7342 9.01005 11.9964 9.01233C12.2586 9.0146 12.5094 9.11977 12.6948 9.30518C12.8802 9.49059 12.9854 9.7414 12.9877 10.0036C12.99 10.2658 12.8892 10.5184 12.707 10.707L8.707 14.707C8.51947 14.8945 8.26516 14.9998 8 14.9998C7.73484 14.9998 7.48053 14.8945 7.293 14.707L3.293 10.707C3.19749 10.6148 3.12131 10.5044 3.0689 10.3824C3.01649 10.2604 2.9889 10.1292 2.98775 9.9964C2.9866 9.86362 3.0119 9.73194 3.06218 9.60905C3.11246 9.48615 3.18671 9.3745 3.2806 9.28061C3.3745 9.18671 3.48615 9.11246 3.60905 9.06218C3.73194 9.0119 3.86362 8.9866 3.9964 8.98775C4.12918 8.9889 4.2604 9.01649 4.3824 9.0689C4.50441 9.12131 4.61475 9.19749 4.707 9.293L7 11.586V1C7 0.734784 7.10536 0.48043 7.29289 0.292893C7.48043 0.105357 7.73478 0 8 0ZM1 15C1.26522 15 1.51957 15.1054 1.70711 15.2929C1.89464 15.4804 2 15.7348 2 16V18H14V16C14 15.7348 14.1054 15.4804 14.2929 15.2929C14.4804 15.1054 14.7348 15 15 15C15.2652 15 15.5196 15.1054 15.7071 15.2929C15.8946 15.4804 16 15.7348 16 16V18C16 18.5304 15.7893 19.0391 15.4142 19.4142C15.0391 19.7893 14.5304 20 14 20H2C1.46957 20 0.960859 19.7893 0.585786 19.4142C0.210714 19.0391 0 18.5304 0 18V16C0 15.7348 0.105357 15.4804 0.292893 15.2929C0.48043 15.1054 0.734784 15 1 15Z" fill="white"/>
                                            </svg>
                                        .fileDlSize {{item.pg_size_pretty}}
                                    .fileTitleWr
                                        .qItemHead.mb2 {{item.originalname}}
                                        .qItemFileDescr {{item.title}}

            .fullScreenWr.flex.center(v-if="showPersonBox")
                    .fullScreenBox
                        .btnClose(v-on:click="showPersonBox=false")
                            <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g filter="url(#filter0_d_210_6140)">
                            <circle cx="32" cy="28" r="28" fill="#E8E6EE"/>
                            <path d="M41.3609 35.7603L24.24 18.6394C23.8088 18.2082 23.1096 18.2082 22.6784 18.6394C22.2472 19.0706 22.2472 19.7697 22.6784 20.201L39.7993 37.3219C40.2305 37.7531 40.9297 37.7531 41.3609 37.3219C41.7921 36.8906 41.7921 36.1915 41.3609 35.7603Z" fill="#666E74" stroke="#5C76BA" stroke-width="0.2"/>
                            <path d="M39.7603 18.6779L22.6394 35.7988C22.2081 36.23 22.2081 36.9292 22.6394 37.3604C23.0706 37.7916 23.7697 37.7916 24.2009 37.3604L41.3218 20.2395C41.7531 19.8083 41.7531 19.1091 41.3218 18.6779C40.8906 18.2467 40.1915 18.2467 39.7603 18.6779Z" fill="#666E74" stroke="#5C76BA" stroke-width="0.2"/>
                            </g>
                            <defs>
                            <filter id="filter0_d_210_6140" x="0" y="0" width="64" height="64" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                            <feOffset dy="4"/>
                            <feGaussianBlur stdDeviation="2"/>
                            <feComposite in2="hardAlpha" operator="out"/>
                            <feColorMatrix type="matrix" values="0 0 0 0 0.25098 0 0 0 0 0.290196 0 0 0 0 0.317647 0 0 0 0.2 0"/>
                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_210_6140"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_210_6140" result="shape"/>
                            </filter>
                            </defs>
                            </svg>

                        .flex.center
                            .h.mb3.mt Пожалуйста, зарегистрируйтесь
                        .mb3
                            .regGroup.mb.flex.left
                                .regGroupTitle *Имя
                                input#persI(v-model="person.i" type="text")
                            .regGroup.mb.flex.left
                                .regGroupTitle *Фамилия
                                input#persF(v-model="person.f" type="text")
                            .regGroup.mb.flex.left
                                .regGroupTitle *Телефон
                                input#persPhone(v-model="person.phone" type="tel")
                            .regGroup.mb.flex.left
                                .regGroupTitle *Email
                                input#persEmail(v-model="person.email" type="email")
                            .regGroup.mb.flex.left
                                .regGroupTitle Организация
                                input#persOrg(v-model="person.org" type="text")
                        .regGroup.mb3.flex.left#persConfirm(v-on:click="person.approve=person.approve?false:true")
                            div
                                .regGroupCap.checkBox.border(v-bind:class="{active:person.approve}")
                            .regGroupCap Соглашаюсь с условиями обработки персональных данных
                        .errorMessaage.mb(v-if="regError") {{regError}}
                        .btn.flex.center(v-if="person.approve" v-on:click="regPerson()")
                            div Зарегистрироваться

    script let short=!{JSON.stringify(event.short)}
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-tag-cloud.min.js"></script>
    script(src="/scripts/vue.min.js")
    <script src="https://vjs.zencdn.net/8.0.4/video.min.js"></script>
    script(src="/scripts/workScript.js")
