extends ./layout
block head
block body
    .mainTower
        #app
            .qSendWr(v-if="event.isQ")
                textarea.mb(placeholder="Ваш вопрос" v-model="qText")
                .qBtnGroup
                    .btn.flex.center(v-on:click="sendQ()")
                        div Отправить
            .fullScreenWr.flex.center(v-if="showPersonBox")
                .fullScreenBox
                    .flex.center
                        .h.mb3.mt Пожалуйста, зарегистрируйтесь
                    .mb3
                        .regGroup.mb.flex.left
                            .regGroupTitle *Имя
                            input(v-model="person.i" type="text")
                        .regGroup.mb.flex.left
                            .regGroupTitle *Фамилия
                            input(v-model="person.f" type="text")
                        .regGroup.mb.flex.left
                            .regGroupTitle *Телефон
                            input(v-model="person.phone" type="tel")
                        .regGroup.mb.flex.left
                            .regGroupTitle *Email
                            input(v-model="person.email" type="email")
                        .regGroup.mb.flex.left
                            .regGroupTitle Организация
                            input(v-model="person.org" type="text")
                    .btn.flex.center
                        div Зарегистрироваться

    script let short=!{JSON.stringify(event.short)}
    script(src="/scripts/vue.min.js")
    script(src="/scripts/workScript.js")
