extends ../layout
block head
    <link href="https://vjs.zencdn.net/8.0.4/video-js.css" rel="stylesheet" />
block body


    include eventMenu
    script.
            document.querySelector(".eventMenuItem[menuid='7']").classList.add("active")
    .mainTower#app
        .eventBody.mt
            .playerWr(v-for="baro in baros" onload="console.log('player load')")
                .qSelectors.flex.left.mb3
                    .switcherWr(v-on:click="toogleBaro( 'isActive', baro)" v-bind:class="{active:baro.isActive}")
                        .switcherBox
                            .switcherElem
                            .switcherCap
                        .switcherTextOff Выключено, пользователи не видят барометр
                        .switcherTextOn Включено, пользователи видят барометр
                .baro.mb
                    .baroScroll
                    .baroScale
                        .flex.scroll
                            .half.baroPointer(:id="'baroUnLike'+baro.id" v-on:click="baroUnLike(baro)")
                                .baroButton.unlike
                                    include ../svg/unlike.svg
                            .half.baroPointer(:id="'baroLike'+baro.id" v-on:click="baroLike(baro)")
                                .baroButton
                                    include ../svg/like.svg
                    .baroTriangleWr
                        .baroTriangleBox
                            .baroTriangle(:style="'left:calc('+baroCenter(baro)+' - 20px)'")
                                include ../svg/triangle.svg
                .flex
                    .half    {{baro.dislikes}}
                    .half(style="text-align:right") {{baro.likes}}



    script let event=!{JSON.stringify(event)}
    script(src="/scripts/eventScript.js")
    script(src="/scripts/vue.min.js")
    <script src="https://vjs.zencdn.net/8.0.4/video.min.js"></script>
    script(src="/scripts/eventQScript.js")
    script.
        setTimeout(()=>{
            document.querySelectorAll(".PlayerTypeSelect").forEach(e=>{
                initSelectCtrl(e)
            })
        },100)

