extends ../layout
block head
block body


    include eventMenu
    script.
            document.querySelector(".eventMenuItem[menuid='5']").classList.add("active")
    .mainTower#app
        .eventBody.mt
            .qItemBtnGroup.flex.left.mb
                .group.flex.left
                    .qItemBtn.active( v-on:click="addCloud()") Создать
                    .qItemBtn( v-on:click="approveAllCloud( 'isActive', true)") Запустить все
                    .qItemBtn.red( v-on:click="approveAllCloud( 'isActive', false)") Остановть все
                .qTotal Всего голосований: {{clouds.length}}, запущенных: {{clouds.filter(v=>v.isActive).length}}
            .qWr#cloudWr
                .qItem.cloudItem.mb(v-if="clouds.length==0" )
                    .qItemText.mb.h Облака тегов еще не добавлены.
                    .qItemText.mb Для создания нажмите кнопку вверху.

                .qItem.cloudItem.mb(v-for="item in clouds" :cloudid="item.id" v-bind:class="{started:item.isMod}")
                    .vItemTitle.mb
                        input.vItemTitleInput(v-model="item.title" placeholder="Введите название голосования" v-on:change="changeCloud('title', item)")



    script let event=!{JSON.stringify(event)}
    script(src="/scripts/eventScript.js")
    script(src="/scripts/vue.min.js")
    script(src="/scripts/eventQScript.js")
