.eventMenuItem
    .eventMenuIcon
    .eventMenuTitle Ссылки
.eventMenuItem
    .eventMenuIcon
    .eventMenuTitle Вопросы
.eventMenuItem
    .eventMenuIcon
    .eventMenuTitle Голосования
.eventMenuItem
    .eventMenuIcon
    .eventMenuTitle Облако тегов
.eventMenuItem
    .eventMenuIcon
    .eventMenuTitle Барометр
.eventMenuItem
    .eventMenuIcon
    .eventMenuTitle Настройки
