
a.eventMenuItem(menuid="9" href="/userEvent/title")
    .eventMenuIcon
    .eventMenuTitle Внешний вид
a.eventMenuItem(menuid="1" href="/userEvent/links")
    .eventMenuIcon
    .eventMenuTitle Ссылки
a.eventMenuItem(menuid="2" href="/userEvent/q")
    .eventMenuIcon
    .eventMenuTitle Вопросы
a.eventMenuItem(menuid="4" href="/userEvent/votes")
    .eventMenuIcon
    .eventMenuTitle Голосования
a.eventMenuItem(menuid="5" href="/userEvent/clouds")
    .eventMenuIcon
    .eventMenuTitle Облако тегов
a.eventMenuItem(menuid="6" href="/userEvent/player")
    .eventMenuIcon
    .eventMenuTitle Плейер
a.eventMenuItem(menuid="7" href="/userEvent/baro")
    .eventMenuIcon
    .eventMenuTitle Барометр
a.eventMenuItem(menuid="3" href="/userEvent/files")
    .eventMenuIcon
    .eventMenuTitle Раздатка

