.eventMenu
    .mainTower
        .eventHead  Cтраница вашего мероприятия:&emsp;
            a(href=host+"/c/u/"+event.short target="_blank") #{host}/c/u/#{event.short}
        .eventMenuWr
            include eventMenuItems
