.eventMenu
    .mainTower
        .eventMenuWr
            .mb.eventHead страница вашего мероприятия <a href="#{host}/c/u/#{event.short}" target="_blank"> #{host}/c/u/#{event.short}</a>
            include eventMenuItems
