.eventMenuItem(menuid="1")
    .eventMenuIcon
    .eventMenuTitle Ссылки
.eventMenuItem(menuid="2")
    .eventMenuIcon
    .eventMenuTitle Вопросы
.eventMenuItem(menuid="3")
    .eventMenuIcon
    .eventMenuTitle Голосования
.eventMenuItem(menuid="4")
    .eventMenuIcon
    .eventMenuTitle Облако тегов
.eventMenuItem(menuid="5")
    .eventMenuIcon
    .eventMenuTitle Барометр
.eventMenuItem(menuid="6")
    .eventMenuIcon
    .eventMenuTitle Настройки
