a.eventMenuItem(menuid="1" href="/userEvent/links")
    .eventMenuIcon
    .eventMenuTitle Ссылки
a.eventMenuItem(menuid="2" href="/userEvent/q")
    .eventMenuIcon
    .eventMenuTitle Вопросы
a.eventMenuItem(menuid="3" href="/userEvent/files")
    .eventMenuIcon
    .eventMenuTitle Файлы
a.eventMenuItem(menuid="4" href="/userEvent/votes")
    .eventMenuIcon
    .eventMenuTitle Голосования
a.eventMenuItem(menuid="5" href="/userEvent/clouds")
    .eventMenuIcon
    .eventMenuTitle Облако тегов
a.eventMenuItem(menuid="6")
    .eventMenuIcon
    .eventMenuTitle Барометр
a.eventMenuItem(menuid="7")
    .eventMenuIcon
    .eventMenuTitle Настройки
