.eventFooter
    .mainTower
        .eventFooterText &copy; Event-24, ООО "Фабрика новостей" ИНН 5042092838. Поддержка и больше возможностей:  <u><a href="http://t.me/event_24_bot>event_24_bot">Telegram bot event_24_bot</a></u>

