extends ../layout
block head
block body


    include eventMenu
    script.
            document.querySelector(".eventMenuItem[menuid='3']").classList.add("active")
    .mainTower#app
        .eventBody.mt


            .qItemBtnGroup.flex.left.mb
                .qItemBtn.active( v-on:click="uploadFile()") Загрузить файл
                .qItemBtn( v-on:click="approveAllQ( 'isMod', true)") Показать все
                .qItemBtn.red( v-on:click="approveAllQ( 'isMod', false)") Убрать все
                .qItemBtn.red(v-on:click="if(confirm('Удалить все файлы?')) approveAllQ( 'isDeleted', true)") Удалить все
                .qTotal Всего файлов: {{q.length}}
            .qWr
                .qItem.mb(v-if="files.length==0")
                    .qItemText.mb Пока файлов не добавлено
                    .qItemBtn.active( v-on:click="uploadFile()") Загрузить файл

                .qItem.mb(v-for="item in files")
                    .qItemHead {{item.date}} {{item.i}} {{item.f}}
                    .qItemText.mb {{item.text}}
                    .qItemBtnGroup.flex.left
                        .qItemBtn(v-bind:class="{active:item.isMod}" v-on:click="toogleQ( 'isMod', item)")
                            span(v-if="item.isMod") Принят
                            span(v-else) Принять
                        .qItemBtn(v-bind:class="{active:item.isSpk}" v-on:click="toogleQ( 'isSpk', item)")
                            span(v-if="!item.isSpk") Спикеру
                            span(v-else) У Спикера
                        .qItemBtn(v-bind:class="{active:item.isScreen}" v-on:click="toogleQ( 'isScreen', item)")
                            span(v-if="!item.isScreen") На экран
                            span(v-else) На экране
                        .qItemBtn.red(v-on:click="if(confirm('Удалить вопрос?')) toogleQ( 'isDeleted', item)") Удалить



    script let event=!{JSON.stringify(event)}
    script(src="/scripts/eventScript.js")
    script(src="/scripts/vue.min.js")
    script(src="/scripts/eventQScript.js")
