extends ../layout
block head
block body
    .mainTower
        include eventMenu
        script.
            document.querySelector(".eventMenuItem[menuid='1']").classList.add("active")
        .eventBody
            .linksWr.mb2
                .linkItem.mt.mb3
                    .linkTitle.mb Ссылка для пользователей
                    .linkDescription.mb Эту ссылку можно отправить всем пользователям
                    .linkGroup
                        .linkText https://vote3.rustv.ru/u/#{event.short}
                        .linkCopy.btn Копировать
                .linkItem.mt.mb3
                    .linkTitle.mb Ссылка для спикера
                    .linkDescription.mb Эту ссылку можно открыть на планшете спикера для чтения вопросов и результатов голосований
                    .linkGroup
                        .linkText https://vote3.rustv.ru/s/#{event.short}
                        .linkCopy.btn Копировать
                .linkItem.mt.mb3
                    .linkTitle.mb Ссылка для помощника
                    .linkDescription.mb Эту ссылку можно открыть на планшете помощника для модерации вопросов
                    .linkGroup
                        .linkText https://vote3.rustv.ru/s/#{event.short}
                        .linkCopy.btn Копировать
                .linkItem.mt.mb3
                    .linkTitle.mb Ссылка для экранов
                    .linkDescription.mb Эту ссылку можно показать на экране в полноэкренном режиме для вывода голосований
                    .linkGroup
                        .linkText https://vote3.rustv.ru/s/#{event.short}
                        .linkCopy.btn Копировать

    script(src="/scripts/eventScript.js")
