extends ../layout
block head
block body
    .mainTower
        include eventMenu
        script.
            document.querySelector(".eventMenuItem[menuid='1']").classList.add("active")
        .eventBody
            .linksWr.mb2
                .linkItem.mt.mb
                    .linkTitle.mb Ссылка для пользоватей
                    .linkDescription.mb Эту ссылку можно отправить всем пользователям
                    .linkGroup
                        .linkText https://vote3.rustv.ru/s/#{event.short}
                        .linkCopy

    script(src="/scripts/eventScript.js")
