extends ../layout
block head
block body


    include eventMenu
    script.
            document.querySelector(".eventMenuItem[menuid='6']").classList.add("active")
    .mainTower#app
        .eventBody.mt
            .qSelectors.flex.left.mb2
                .switcherWr(v-on:click="toogleEvent( 'isPlayer')" v-bind:class="{active:event.isPlayer}")
                    .switcherBox
                        .switcherElem
                        .switcherCap
                    .switcherTextOff Выключено, пользователи не видят плейер
                    .switcherTextOn Включено, пользователи видят плейер
            .aSelectCtrl.mb3#playerSelect(value="0" v-on:change="playerTypeChange()" )
                .aSelectCtrlTItle Выбрите тип плейерa
                .aSelectCtrlTItleSelected
                .aSelectCtrlItemsWr
                    .aSelectCtrlItem(value="0") YouTube или Rutube
                    .aSelectCtrlItem(value="1") Собственный плейер

            .aPlayerInputWr
                .linkDescription.mb Введите код Iframe YouTube или Rutube
                textarea.aPlayerInput(v-model="event.YT")

    script let event=!{JSON.stringify(event)}
    script(src="/scripts/eventScript.js")
    script(src="/scripts/vue.min.js")
    script(src="/scripts/eventQScript.js")
    script initSelectCtrl(document.getElementById("playerSelect"))
