extends ../layout
block head
block body


    include eventMenu
    script.
            document.querySelector(".eventMenuItem[menuid='6']").classList.add("active")
    .mainTower#app
        .eventBody.mt
            .playerWr(v-for="player in players" onload="console.log('player load')")
                .qSelectors.flex.left.mb2
                    .switcherWr(v-on:click="tooglePlayer( 'isActive', player)" v-bind:class="{active:player.isActive}")
                        .switcherBox
                            .switcherElem
                            .switcherCap
                        .switcherTextOff Выключено, пользователи не видят плейер
                        .switcherTextOn Включено, пользователи видят плейер
                .aSelectCtrl.PlayerTypeSelect.mb3(:value="player.type" v-on:change="changeTypePlayer('type',player, $event)" )
                    .aSelectCtrlTItle Выбрите тип плейерa
                    .aSelectCtrlTItleSelected
                    .aSelectCtrlItemsWr
                        .aSelectCtrlItem(value="0") YouTube или Rutube
                        .aSelectCtrlItem(value="1") Собственный плейер
                .flex.left.aPlayerCtrlBox(v-if="player.type==0")
                    .half
                        .aPlayerInputWr
                            .linkDescription.mb Введите код Iframe YouTube или Rutube {{event.YT}}
                            textarea.aPlayerInput(v-model="player.YT" v-on:change="changePlayer('YT',player)")
                    .half
                        .videoWrapper(v-html="player.YT")
                .flex.left.aPlayerCtrlBox(v-if="player.type==1")
                    .half
                        .aPlayerInputWr
                            .linkDescription.mb Введите URL файла или потока
                            .uploadGroup.flex.left.mb2
                                input.aPlayerInput(v-model="player.url" v-on:change="changePlayer('url',player)")
                                .uploadBtn U+02191
                            .linkDescription.mb Введите URL картинки-постера(16/9)
                            input.aPlayerInput(v-model="player.poster" v-on:change="changePlayer('poster',player)")
                    .half
                        .videoWrapper
                            video.video(width='1280' height='720' controls="controls" :poster="player.poster")
                                source(:src="player.url" :type="player.urlType")

                //

    script let event=!{JSON.stringify(event)}
    script(src="/scripts/eventScript.js")
    script(src="/scripts/vue.min.js")
    script(src="/scripts/eventQScript.js")
    script.
        setTimeout(()=>{
            document.querySelectorAll(".PlayerTypeSelect").forEach(e=>{
                initSelectCtrl(e)
            })
        },100)

