extends ../layout
block head
block body


    include eventMenu
    script.
            document.querySelector(".eventMenuItem[menuid='6']").classList.add("active")
    .mainTower#app
        .eventBody.mt
            .playerWr(v-for="player in players" onload="console.log('player load')")
                .qSelectors.flex.left.mb2
                    .switcherWr(v-on:click="tooglePlayer( 'isActive', player)" v-bind:class="{active:player.isActive}")
                        .switcherBox
                            .switcherElem
                            .switcherCap
                        .switcherTextOff Выключено, пользователи не видят плейер
                        .switcherTextOn Включено, пользователи видят плейер
                .aSelectCtrl.PlayerTypeSelect.mb3(:value="player.type" v-on:change="changeTypePlayer('type',player, $event)" )
                    .aSelectCtrlTItle Выбрите тип плейерa
                    .aSelectCtrlTItleSelected
                    .aSelectCtrlItemsWr
                        .aSelectCtrlItem(value="0") YouTube или Rutube
                        .aSelectCtrlItem(value="1") Собственный плейер
                .flex.left
                    .half
                        .aPlayerInputWr
                            .linkDescription.mb Введите код Iframe YouTube или Rutube {{event.YT}}
                            textarea.aPlayerInput(v-model="event.YT" v-on:change="changePlayer('YT',player)")
                    .hallf
                //

    script let event=!{JSON.stringify(event)}
    script(src="/scripts/eventScript.js")
    script(src="/scripts/vue.min.js")
    script(src="/scripts/eventQScript.js")
    script.
        setTimeout(()=>{
            document.querySelectorAll(".PlayerTypeSelect").forEach(e=>{
                initSelectCtrl(e)
            })
        },100)

