extends ../layout
block head
block body


    include eventMenu
    script.
            document.querySelector(".eventMenuItem[menuid='2']").classList.add("active")
    .mainTower

        .eventBody.mt
            .qSelectors.flex.left.mb2
                .switcherWr#qEnable
                    .switcherBox
                        .switcherElem
                        .switcherCap
                    .switcherTextOff Выключено, пользователи не могут задавать вопросы
                    .switcherTextOn Включено, пользователи могут задавать вопросы
                .switcherWr#qPreModEnable
                    .switcherBox
                        .switcherElem
                        .switcherCap
                    .switcherTextOff Премодерация включена
                    .switcherTextOn Премодерация выключена
            .mb2 Всего вопросов 234


    script(src="/scripts/eventScript.js")
