extends ../layout
block head
block body


    include eventMenu
    script.
            document.querySelector(".eventMenuItem[menuid='2']").classList.add("active")
    .mainTower

        .eventBody.mt
            .switcherWr#qEnable
                .switcherBox
                    .switcherElem
                    .switcherCap
                .switcherTextOff Выключено, пользователи не могут задавать вопросы
                .switcherTextOn Включено, пользователи могут задавать вопросы




    script(src="/scripts/eventScript.js")
