extends ../layout
block head
block body


    include eventMenu
    script.
            document.querySelector(".eventMenuItem[menuid='2']").classList.add("active")
    .mainTower#app
        .eventBody.mt
            .qSelectors.flex.left.mb2
                .switcherWr(v-on:click="toogleEvent( 'isQ')" v-bind:class="{active:event.isQ}")
                    .switcherBox
                        .switcherElem
                        .switcherCap
                    .switcherTextOff Выключено, пользователи не могут задавать вопросы
                    .switcherTextOn Включено, пользователи могут задавать вопросы
                .switcherWr(v-on:click="toogleEvent('isQpreMod')" v-bind:class="{active:event.isQpreMod}")
                    .switcherBox
                        .switcherElem
                        .switcherCap
                    .switcherTextOff Премодерация выключена
                    .switcherTextOn Премодерация включена
            .qTotal.mb Всего вопросов: {{q.length}}
            .qWr
                .qItem.mb(v-if="q.length==0")
                    .qItemText Пока вопросов не задано

                .qItem.mb(v-for="item in q")
                    .qItemHead {{item.date}} {{item.i}} {{item.f}}
                    .qItemText.mb {{item.text}}
                    .qItemBtnGroup.flex.left
                        .qItemBtn(v-bind:class="{active:item.isMod}" v-on:click="toogleQ( 'isMod', item)") Принять
                        .qItemBtn(v-bind:class="{active:item.isSpk}") Спикеру
                        .qItemBtn(v-bind:class="{active:item.isScreen}")  На экран
                        .qItemBtn.red() Удалить



    script let event=!{JSON.stringify(event)}
    script(src="/scripts/eventScript.js")
    script(src="/scripts/vue.min.js")
    script(src="/scripts/eventQScript.js")
