extends ../layout
block head
block body


    include eventMenu
    script.
            document.querySelector(".eventMenuItem[menuid='2']").classList.add("active")
    .mainTower#app
        .eventBody.mt
            .qSelectors.flex.left.mb2
                .switcherWr#qEnable(v-on:click="toogleEvent( 'isQ')" v-bind:class="{active:event.isQ}")
                    .switcherBox
                        .switcherElem
                        .switcherCap
                    .switcherTextOff Выключено, пользователи не могут задавать вопросы
                    .switcherTextOn Включено, пользователи могут задавать вопросы
                .switcherWr#qPreModEnable
                    .switcherBox
                        .switcherElem
                        .switcherCap
                    .switcherTextOff Премодерация включена
                    .switcherTextOn Премодерация выключена
            .qTotal.mb Всего вопросов: 234
            .qWr
                .qItem.mb
                    .qItemText Пока вопросов не задано
                .qItem.mb
                    .qItemText Пока вопросов не задано
                .qItem.mb
                    .qItemHead 12.02.2023 12:34  Вася Иванов
                    .qItemText.mb Пока вопросов не задано
                    .qItemBtnGroup.flex.left
                        .qItemBtn Принять
                        .qItemBtn.active Спикеру
                        .qItemBtn На экран
                        .qItemBtn.red Удалить
                .qItem.mb
                    .qItemHead 12.02.2023 12:34  Вася Иванов
                    .qItemText.mb Пока вопросов не задано
                    .qItemBtnGroup.flex.left
                        .qItemBtn Принять
                        .qItemBtn.active Спикеру
                        .qItemBtn На экран
                        .qItemBtn.red Удалить


    script let event=!{JSON.stringify(event)}
    script(src="/scripts/eventScript.js")
    script(src="/scripts/vue.min.js")
    script(src="/scripts/eventQScript.js")
