extends ../layout
block head
block body


    include eventMenu
    script.
            document.querySelector(".eventMenuItem[menuid='2']").classList.add("active")
    .mainTower

        .eventBody.mt
            .qSelectors.flex.left.mb2
                .switcherWr#qEnable
                    .switcherBox
                        .switcherElem
                        .switcherCap
                    .switcherTextOff Выключено, пользователи не могут задавать вопросы
                    .switcherTextOn Включено, пользователи могут задавать вопросы
                .switcherWr#qPreModEnable
                    .switcherBox
                        .switcherElem
                        .switcherCap
                    .switcherTextOff Премодерация включена
                    .switcherTextOn Премодерация выключена
            .mb Всего вопросов: 234
            .qWr
                .qItem.mb
                    .qItemText Пока вопросов не задано
                .qItem.mb
                    .qItemText Пока вопросов не задано
                .qItem.mb
                    .qItemHead 12.02.2023 12:34  Вася Иванов
                    .qItemText Пока вопросов не задано



    script(src="/scripts/eventScript.js")
