extends ../layout
block head
block body


    include eventMenu
    script.
            document.querySelector(".eventMenuItem[menuid='9']").classList.add("active")
    .mainTower#app

        .eventBody.mt
            .linksWr.mb2
                .linkItem.mt.mb3
                    .linkTitle.mb Название
                    .switcherWr.mb(v-on:click="toogleTitle( 'isTitle')" v-bind:class="{active:title.isTitle}")
                        .switcherBox
                            .switcherElem
                            .switcherCap
                        .switcherTextOff Выключено, пользователи не видят название
                        .switcherTextOn Включено, пользователи видят название
                    //.linkDescription.mb Эту ссылку можно отправить всем пользователям. Qr code можно использовать для быстрого доступа с мобильных устройств.
                    .vItemTitle
                        input(v-model="title.title" placeholder="Введите название" v-on:change="changeTitle()")
            .linksWr.mb2
                .flex
                    .half
                        .linkItem.mt.mb3
                            .linkTitle.mb Логотип
                            .switcherWr.mb(v-on:click="toogleTitle( 'isLogo')" v-bind:class="{active:title.isLogo}")
                                .switcherBox
                                    .switcherElem
                                    .switcherCap
                                .switcherTextOff Выключено, пользователи не видят лого
                                .switcherTextOn Включено, пользователи видят лого
                            //.linkDescription.mb Эту ссылку можно отправить всем пользователям. Qr code можно использовать для быстрого доступа с мобильных устройств.
                            .vItemSubTitle
                                .btnGroup.mb.flex.left
                                    input.vVoteAnswInput(v-model="title.logo" placeholder="Введите url логотипа" v-on:change="changeTitle()")
                                    .qItemBtn.blue(v-on:click="uploadLogo(title, 'logo')") Загрузить
                    .half
                        .plogoWr(v-if="title.logo")
                            img(:src="title.logo" loading="lazy")
            .linkItem.mt.mb3
                .linkTitle.mb Лид
                .switcherWr.mb(v-on:click="toogleTitle( 'isLid')" v-bind:class="{active:title.isLid}")
                    .switcherBox
                        .switcherElem
                        .switcherCap
                    .switcherTextOff Выключено, пользователи не видят лид
                    .switcherTextOn Включено, пользователи видят лид
                //.linkDescription.mb Эту ссылку можно отправить всем пользователям. Qr code можно использовать для быстрого доступа с мобильных устройств.
                .vItemSubTitle
                    input(v-model="title.lid" placeholder="Введите лид" v-on:change="changeTitle(title)")
            .linksWr.mb2
                .flex
                    .half
                        .linkItem.mt.mb3
                            .linkTitle.mb Главная картинка
                            .switcherWr.mb(v-on:click="toogleTitle( 'isMainimage')" v-bind:class="{active:title.isMainimage}")
                                .switcherBox
                                    .switcherElem
                                    .switcherCap
                                .switcherTextOff Выключено, пользователи не видят главную картинку
                                .switcherTextOn Включено, пользователи видят видят главную картинку
                            //.linkDescription.mb Эту ссылку можно отправить всем пользователям. Qr code можно использовать для быстрого доступа с мобильных устройств.
                            .vItemSubTitle
                                .btnGroup.mb.flex.left
                                    input.vVoteAnswInput(v-model="title.logo" placeholder="Введите url главной картинки" v-on:change="changeTitle(title)")
                                    .qItemBtn.blue(v-on:click="uploadLogo(title, 'mainimage')") Загрузить
                    .half
                        .pMainImageWr(v-if="title.mainimage")
                            img(:src="title.mainimage" loading="lazy")
            .linkItem.mt.mb3
                .linkTitle.mb Описание
                .switcherWr.mb(v-on:click="toogleTitle( 'isDescr')" v-bind:class="{active:title.isDescr}")
                    .switcherBox
                        .switcherElem
                        .switcherCap
                    .switcherTextOff Выключено, пользователи не видят описание
                    .switcherTextOn Включено, пользователи видят описание
                //.linkDescription.mb Эту ссылку можно отправить всем пользователям. Qr code можно использовать для быстрого доступа с мобильных устройств.
                .qSendWr
                    textarea(v-model="title.descr" placeholder="Введите описание" v-on:change="changeTitle()")
            .linkItem.mt.mb3
                .linkTitle.mb Футер
                .switcherWr.mb(v-on:click="toogleTitle( 'isFooter')" v-bind:class="{active:title.isFooter}")
                    .switcherBox
                        .switcherElem
                        .switcherCap
                    .switcherTextOff Выключено, пользователи не видят футер
                    .switcherTextOn Включено, пользователи видят футер
                //.linkDescription.mb Эту ссылку можно отправить всем пользователям. Qr code можно использовать для быстрого доступа с мобильных устройств.
                .qSendWr
                    textarea(v-model="title.footer" placeholder="Введите текст футера" v-on:change="changeTitle()")
            .linksWr.mb3

                .linkItem.mt.mb3
                    .linkTitle.mb Регистрация
                    .errorMessaage.mb2 Изменения вступят в силу после обновления страницы пользователя
                    .switcherWr.mb2(v-on:click="toogleSettings( 'isReq')" v-bind:class="{active:event.settings.isReq}")
                        .switcherBox
                            .switcherElem
                            .switcherCap
                        .switcherTextOff Выключено, пользователи регистрируются, когда задают вопросы
                        .switcherTextOn Включено, пользователи регистрируются перед входом
                    //.linkDescription.mb Эту ссылку можно отправить всем пользователям. Qr code можно использовать для быстрого доступа с мобильных устройств.
                    .qReqBody.mb3
                        .switcherWr.mb.active
                            .switcherBox
                                .switcherElem
                                .switcherCap
                            .switcherTextOff
                            .switcherTextOn Cпрашивать имя пользователя, выключить нельзя
                        .switcherWr.mb(v-on:click="toogleSettings( 'isReqF')" v-bind:class="{active:event.settings.isReqF}")
                            .switcherBox
                                .switcherElem
                                .switcherCap
                            .switcherTextOff Фамилию не спрашиваем
                            .switcherTextOn Фамилию спрашиваем
                        .switcherWr.mb(v-on:click="toogleSettings( 'isReqEmail')" v-bind:class="{active:event.settings.isReqEmail}")
                            .switcherBox
                                .switcherElem
                                .switcherCap
                            .switcherTextOff Email не спрашиваем
                            .switcherTextOn Email  спрашиваем
                        .switcherWr.mb(v-on:click="toogleSettings( 'isReqPhone')" v-bind:class="{active:event.settings.isReqPhone}")
                            .switcherBox
                                .switcherElem
                                .switcherCap
                            .switcherTextOff Телефон не спрашиваем
                            .switcherTextOn Телефон  спрашиваем
                        .switcherWr.mb(v-on:click="toogleSettings( 'isReqOrg')" v-bind:class="{active:event.settings.isReqOrg}")
                            .switcherBox
                                .switcherElem
                                .switcherCap
                            .switcherTextOff Организацию не спрашиваем
                            .switcherTextOn Организацию  спрашиваем
                .linksWr.mb3
                    .linkTitle.mb Цветовая тема
                    .switcherWr.mb3(v-on:click="toogleSettings( 'isBlack')" v-bind:class="{active:event.settings.isBlack}")
                        .switcherBox
                            .switcherElem
                            .switcherCap
                        .switcherTextOff Светлая тема
                        .switcherTextOn Темная тема

                .linksWr.mb3

                    .linkItem
                        .linkTitle.mb Картинка фона
                        .errorMessaage.mb2 Изменения вступят в силу после обновления страницы пользователя
                        .flex.left
                            .half
                                .switcherWr.mb2(v-on:click="toogleSettings( 'isBgImage')" v-bind:class="{active:event.settings.isBgImage}")
                                    .switcherBox
                                        .switcherElem
                                        .switcherCap
                                    .switcherTextOff Картинка фона выключена
                                    .switcherTextOn Картинка фона включена
                            .half
                                .switcherWr.mb2(v-on:click="toogleSettings( 'isBgBlur')" v-bind:class="{active:event.settings.isBgBlur}")
                                    .switcherBox
                                        .switcherElem
                                        .switcherCap
                                    .switcherTextOff Картинка фона без размытия
                                    .switcherTextOn Картинка фона размыта
                    .flex
                        .half
                            .vItemSubTitle
                                .btnGroup.mb.flex.left
                                    input.vVoteAnswInput(v-model="event.settings.bgImage" placeholder="Введите url  картинки" v-on:change="changeSettings('bgImage')")
                                    .qItemBtn.blue(v-on:click="uploadSettings( 'bgImage')") Загрузить
                        .half
                            .pMainImageWr(v-if="event.settings.bgImage")
                                img(:src="event.settings.bgImage" loading="lazy")
                .linksWr.mb3
                    .linkTitle.mb Ваши стили css
                    .errorMessaage.mb2 Изменения вступят в силу после обновления страницы пользователя
                    .switcherWr.mb3(v-on:click="toogleSettings( 'isCss')" v-bind:class="{active:event.settings.isCss}")
                        .switcherBox
                            .switcherElem
                            .switcherCap
                        .switcherTextOff Стили выключены
                        .switcherTextOn Стили выключены
                    .qSendWr.stylesWr.mb3
                        textarea(v-model="event.settings.css" placeholder="Введите css" v-on:change="changeSettings('css')")
                .mb3
                .mb3
            include sUploading.pug
        include sUploading.pug
    include eventFooter
    script let event=!{JSON.stringify(event)}
    script(src="/scripts/eventScript.js")
    script(src="/scripts/vue.min.js")
    script(src="/scripts/eventQScript.js")
