extends ../layout
block head
block body


    include eventMenu
    script.
            document.querySelector(".eventMenuItem[menuid='9']").classList.add("active")
    .mainTower#app

        .eventBody.mt
            .linksWr.mb2
                .linkItem.mt.mb3
                    .linkTitle.mb Название
                    .switcherWr.mb(v-on:click="toogleTitle( 'isTitle')" v-bind:class="{active:title.isTitle}")
                        .switcherBox
                            .switcherElem
                            .switcherCap
                        .switcherTextOff Выключено, пользователи не видят название
                        .switcherTextOn Включено, пользователи видят название
                    //.linkDescription.mb Эту ссылку можно отправить всем пользователям. Qr code можно использовать для быстрого доступа с мобильных устройств.
                    .vItemTitle
                        input(v-model="title.title" placeholder="Введите название" v-on:change="changeTitle()")
            .linkItem.mt.mb3
                .linkTitle.mb Лид
                .switcherWr.mb(v-on:click="toogleTitle( 'isLid')" v-bind:class="{active:title.isLid}")
                    .switcherBox
                        .switcherElem
                        .switcherCap
                    .switcherTextOff Выключено, пользователи не видят лид
                    .switcherTextOn Включено, пользователи видят лид
                //.linkDescription.mb Эту ссылку можно отправить всем пользователям. Qr code можно использовать для быстрого доступа с мобильных устройств.
                .vItemSubTitle
                    input(v-model="title.lid" placeholder="Введите лид" v-on:change="changeTitle()")
            .linkItem.mt.mb3
                .linkTitle.mb Описание
                .switcherWr.mb(v-on:click="toogleTitle( 'isDescr')" v-bind:class="{active:title.isDescr}")
                    .switcherBox
                        .switcherElem
                        .switcherCap
                    .switcherTextOff Выключено, пользователи не видят описание
                    .switcherTextOn Включено, пользователи видят описание
                //.linkDescription.mb Эту ссылку можно отправить всем пользователям. Qr code можно использовать для быстрого доступа с мобильных устройств.
                .qSendWr
                    textarea(v-model="title.descr" placeholder="Введите описанте" v-on:change="changeTitle()")


    script let event=!{JSON.stringify(event)}
    script(src="/scripts/eventScript.js")
    script(src="/scripts/vue.min.js")
    script(src="/scripts/eventQScript.js")
