extends ../layout
block head
block body


    include eventMenu
    script.
            document.querySelector(".eventMenuItem[menuid='4']").classList.add("active")

    .mainTower#app
        .eventBody.mt
            .qItemBtnGroup.flex.left.mb
                .group.flex.left
                    .qItemBtn.active( v-on:click="addVote()") Создать
                    .qItemBtn( v-on:click="approveAllFile( 'isMod', true)") Запустить все
                    .qItemBtn.red( v-on:click="approveAllFile( 'isMod', false)") Остановть все
                .qTotal Всего голосований: {{votes.length}}, запущенных: {{votes.filter(v=>v.isActive).length}}
            .qWr#fileWr
                .qItem.mb(v-if="files.length==0")
                    .qItemText.mb.h Голосования еще не добавлены.
                    .qItemText.mb Их можно создать нажав кнопку вверху.

                .qItem.mb(v-for="item in votes")
                    .vItemTitle
                        input(v-model="item.title" placeholder="Введите название голосования" v-on:change="changeVote('title', item)")
                    .qItemBtnGroup.flex.left
                        .qItemBtn(v-bind:class="{active:item.isActive}" v-on:click="toogleFile( 'isMod', item)")
                            span(v-if="item.isActive") Запущено
                            span(v-else) Остановлено

                        .qItemBtn.red(v-on:click="if(confirm('Удалить голосование?')) toogleFile( 'isDeleted', item)") Удалить




    script let event=!{JSON.stringify(event)}
    script(src="/scripts/eventScript.js")
    script(src="/scripts/vue.min.js")
    script(src="/scripts/eventQScript.js")
