extends ../layout
block head
block body


    include eventMenu
    script.
            document.querySelector(".eventMenuItem[menuid='4']").classList.add("active")

    .mainTower#app
        .eventBody.mt
            .qItemBtnGroup.flex.left.mb
                .group.flex.left
                    .qItemBtn.active( v-on:click="addVote()") Создать
                    .qItemBtn( v-on:click="approveAllFile( 'isMod', true)") Запустить все
                    .qItemBtn.red( v-on:click="approveAllFile( 'isMod', false)") Остановть все
                .qTotal Всего голосований: {{votes.length}}, запущенных: {{votes.filter(v=>v.isActive).length}}
            .qWr#fileWr
                .qItem.mb(v-if="files.length==0")
                    .qItemText.mb.h Голосования еще не добавлены.
                    .qItemText.mb Их можно создать нажав кнопку вверху.

                .qItem.mb(v-for="item in votes")
                    .vItemTitle.mb2
                        input(v-model="item.title" placeholder="Введите название голосования" v-on:change="changeVote('title', item)")


                    .qItemBtnGroup.mb2.flex.left
                        .qItemBtn(v-bind:class="{active:item.isActive}" v-on:click="toogleVote( 'isActive', item)")
                            span(v-if="item.isActive") Запущено
                            span(v-else) Остановлено
                        //.qItemBtn(v-bind:class="{active:item.isComplite}" v-on:click="toogleVote( 'isComplite', item)")
                            span(v-if="item.isComplite") Голосование
                            span(v-else) Результаты

                        .qItemBtn.red(v-on:click="if(confirm('Удалить голосование?')) toogleVote( 'isDeleted', item)") Удалить

                    .switcherWr(v-on:click=" toogleVote( 'isComplite', item)" v-bind:class="{active:item.isComplite}" )
                        .switcherBox(v-if="item.isActive")
                            .switcherElem
                            .switcherCap
                        .switcherTextOff Идет, пользователи голосуют
                        .switcherTextOn Окончено, пользователи видят результаты



    script let event=!{JSON.stringify(event)}
    script(src="/scripts/eventScript.js")
    script(src="/scripts/vue.min.js")
    script(src="/scripts/eventQScript.js")
