extends ../layout
block head
block body


    include eventMenu
    script.
            document.querySelector(".eventMenuItem[menuid='4']").classList.add("active")

    .mainTower#app
        .eventBody.mt
            .qItemBtnGroup.flex.left.mb
                .group.flex.left
                    .qItemBtn.active( v-on:click="addVote()") Создать
                    .qItemBtn( v-on:click="approveAllFile( 'isMod', true)") Запустить все
                    .qItemBtn.red( v-on:click="approveAllFile( 'isMod', false)") Остановть все
                .qTotal Всего голосований: {{votes.length}}, запущенных: {{votes.filter(v=>v.isActive).length}}
            .qWr#fileWr
                .qItem.mb(v-if="files.length==0")
                    .qItemText.mb.h Голосования еще не добавлены.
                    .qItemText.mb Их можно создать нажав кнопку вверху.

                .qItem.voteItem.mb(v-for="item in votes")
                    .qSelectors.flex.left.mb
                        .switcherWr.w3(v-on:click="toogleVote( 'isMulti', item)" v-bind:class="{active:item.isMulti}")
                            .switcherBox
                                .switcherElem
                                .switcherCap
                            .switcherTextOff Можно выбрать один вариант
                            .switcherTextOn Можно выбрать несколько вариантов
                        .switcherWr.w3(v-on:click="toogleVote('isNumber', item)" v-bind:class="{active:item.isNumber}")
                            .switcherBox
                                .switcherElem
                                .switcherCap
                            .switcherTextOff Показать проценты
                            .switcherTextOn Показать проценты и голоса
                        .switcherWr.w3(v-on:click="toogleVote('isScreenResult', item)" v-bind:class="{active:item.isScreenResult}")
                            .switcherBox
                                .switcherElem
                                .switcherCap
                            .switcherTextOff На экране результаты после окончания
                            .switcherTextOn На экране результаты в процессе
                    .vItemTitle.mb
                        input(v-model="item.title" placeholder="Введите название голосования" v-on:change="changeVote('title', item)")
                    .btn.small.mb2 Добавить вариант ответа
                    .switcherWr.mb2(v-on:click=" toogleVote( 'isComplite', item)" v-bind:class="{active:item.isComplite}" )
                        .switcherBox
                            .switcherElem
                            .switcherCap
                        .switcherTextOff(v-if="item.isActive") Идет, пользователи голосуют
                        .switcherTextOn(v-if="item.isActive") Окончено, пользователи видят результаты
                        .switcherTextOff(v-if="!item.isActive") Когда будет запущено, пользователи смогут голосовать
                        .switcherTextOn(v-if="!item.isActive") Когда будет запущено, пользователи увидят результаты
                    .qItemBtnGroup.mb2.flex.left
                        .qItemBtn(v-bind:class="{active:item.isActive}" v-on:click="toogleVote( 'isActive', item)")
                            span(v-if="item.isActive") Запущено
                            span(v-else) Остановлено
                        //.qItemBtn(v-bind:class="{active:item.isComplite}" v-on:click="toogleVote( 'isComplite', item)")
                            span(v-if="item.isComplite") Голосование
                            span(v-else) Результаты

                        .qItemBtn.red(v-on:click="if(confirm('Удалить голосование?')) toogleVote( 'isDeleted', item)") Удалить





    script let event=!{JSON.stringify(event)}
    script(src="/scripts/eventScript.js")
    script(src="/scripts/vue.min.js")
    script(src="/scripts/eventQScript.js")
