:root{
    --pad:.8rem;
    --rad:8px;
    --width:1100px;

    /*colors*/
    --backColor: #201f1f;
    --textColor: #f9f9f9;
    --borderColor:#2F3C43;
    --buttonColor:#64B8E8;
    --hoverColor:#49a6dc;
    --errorColor:#881B1B;
    --grayColor:#535454;
    --disableColor:#708ab8;
    --backgroundYellowColor: #f9843429;
    --yellowColor: #f98434;
    --yellowHoverColor:#ff5900;

}
