:root{
    --pad:.8rem;
    --rad:8px;
    --width:1100px;

    /*colors*/
    --backColor: #201f1f;
    --textColor: #f9f9f9;
    --borderColor:#2F3C43;
    --buttonColor: #7ce28c;
    --hoverColor: #45ac67;
    --errorColor: #f8d0d0;
    --grayColor:#535454;
    --disableColor: #65937d;
    --backgroundYellowColor: #f9843429;
    --yellowColor: #f98434;
    --yellowHoverColor:#ff5900;

}
