@import url('reset.css');
:root{
    --pad:.8rem;
    --rad:8px;
    --width:1100px;

    /*colors*/
    --backColor:#FFFFFF;
    --textColor:#2F3C43;
    --borderColor:#2F3C43;
    --buttonColor:#64B8E8;
    --hoverColor:#49a6dc;
    --errorColor:#881B1B;
    --grayColor:#F5F7F9;
    --disableColor:#708ab8

}
input:focus, input:active, textarea:focus, textarea:active{
    outline: none !important;
}
a, a:visited, a.active{
    text-decoration: none;
    color:var(--textColor)
}


body{
   font-family: 'Rubik', sans-serif;
   font-size: 14px;
   line-height: 1.2em;
   font-weight: 400;
   background-color: var(--backColor);
   color: var(--textColor);
}
.mainTower{
    width: var(--width);
    margin: 0 auto;
    box-sizing: border-box;

}
.regBoxButton{
    cursor: pointer;
}
.inputGroup{
    position: relative
}
.inputGroup input{
    border:1px solid var(--hoverColor);
    border-right: none;
    padding: var(--pad);
}
.inputGroup input:first-of-type{
    border-top-left-radius: var(--rad);
    border-bottom-left-radius: var(--rad);
}
.inputGroup input:last-child{
    border-top-right-radius: var(--rad);
    border-bottom-right-radius: var(--rad);
    border-right: 1px solid var(--hoverColor);
    width: 100px;
    text-align: center;
    font-weight: bold;
}
.inputGroup input[type='button']{
    background-color: var(--buttonColor);
    color: var(--backColor);
}
.inputGroup input[type='button']:hover{
    background-color: var(--hoverColor);
}
.btn{
    background-color: var(--buttonColor);
    color: var(--backColor);
    border:1px solid var(--hoverColor);
    border-right: none;
    padding: var(--pad);
    cursor: pointer;
    border-radius: var(--rad);
}
.btn:hover{
    background-color: var(--hoverColor);

}

.mb{
    margin-bottom: var(--pad);
}
.mb2{
    margin-bottom: calc(var(--pad) * 2);
}
.mb3{
    margin-bottom: calc(var(--pad) * 3);
}
.mb4{
    margin-bottom: calc(var(--pad) * 4);
}
.mt{
    margin-top: var(--pad);
}
.inputGroup .errorMessaage{
    display: none;
}
.inputGroup.error .errorMessaage{
    display: block;
    position: absolute;
    left: var(--pad);
    top: 0;
    font-size: .5em;
    color: var(--errorColor);
}
.inputGroup.error input{
    border-color: var(--errorColor);
}
.codeInput{
    display: none;
}
.eventMenu {

    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding-top: 4px;
    box-shadow: 0 0 4px 0 var(--textColor);
    z-index: 100;
    background: white;
}
.eventMenuWr{
    display: flex;
    align-items: center;
    justify-content: left;
}
.eventMenuItem{
     padding:  var(--pad);
     cursor: pointer;
     border-bottom: 2px solid transparent;
     border-top-left-radius:var(--rad);
     border-top-right-radius:var(--rad);
 }
.eventMenuItem:hover{
    background-color: var(--hoverColor);
    color: var(--backColor);

}
.eventMenuItem.active{
    border-bottom: 2px solid var(--hoverColor);
    background-color: var(--buttonColor);
    color: var(--backColor);
}
.linkTitle{
    font-size: 1.5rem;
}
.linkGroup{
    display: flex;
    align-items: center;
    justify-content: left;
   /* background-color: var(--buttonColor);*/

    color: var(--backColor);
    border-radius: var(--rad);
    cursor: pointer;
    width: max-content;
}
.linkText{

    align-items: center;
    justify-content: left;
    padding: calc(var(--pad) / 2)  var(--pad);
    border: 1px solid var(--borderColor) ;
    border-radius: var(--rad) 0 0 var(--rad);
    border-right: none;
    color: var(--textColor);
    background-color: var(--grayColor);

}
.linkGroup .btn{
    padding: calc(var(--pad) / 2) var(--pad);
    border-radius:  0 ;
}
.linkGroup .btn:last-of-type{
    border-radius:  0 var(--rad) var(--rad) 0;
}

.eventBody{
    margin-top: calc(var(--pad) * 6);
}
.switcherBox{
    position: relative;
    width: 3rem;
    box-sizing: border-box;
    height: 1.2rem;
    background-color: var(--grayColor);
    border:1px solid var(--borderColor);
    border-radius: var(--rad);
    cursor: pointer;
}
.switcherElem{
    position: absolute;
    top:0;
    left: calc(var(--rad) / 4);
    bottom: 0;
    width: calc(1.2rem - 4px);
    background-color: var(--backColor);
    border-radius: 50%;
    border:1px solid var(--borderColor);
}
.switcherTextOff{
    display: block;
    padding-left: var(--pad);
}
.switcherTextOn{
    display: none;
    padding-left: var(--pad);
}
.active .switcherTextOff{
    display: none;
}
.active .switcherTextOn{
    display: block;
}
.active .switcherBox{
    background-color: var(--buttonColor);
}
.active .switcherBox .switcherElem{

    left:inherit;
    right: calc(var(--rad) / 4);;
    bottom: 0;
}
.switcherWr{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-right: var(--pad);
    width: 50%;
}
.flex{
    display: flex;
}
.center{
    align-items: center;
    justify-content: center;
}
.left{
    align-items: center;
    justify-content: left;
}
.qWr{
    border-radius: var(--rad);
    border:1px solid var(--borderColor);
    box-sizing: border-box;
    padding: var(--pad);
    background-color: var(--grayColor);
    height: calc(100vh - 11rem);
    overflow-y: auto;
}
.qItem{
    padding: var(--pad);
    background-color: var(--backColor);
    border-radius: var(--rad);
}
.qItemHead{
    font-weight: bold;
    margin-bottom: calc(var(--pad) / 2);
}
.qItemBtnGroup{}
.qItemBtn{
    width: 80px;
    text-align: center;
    font-size: .8rem;
    padding: calc(var(--pad) / 2);
    background-color: var(--grayColor);
    border:1px solid var(--borderColor);
    cursor: pointer;
}
.qItemBtn:hover{
    background-color: var(--rad);
}
.qItemBtn:first-child{
    border-radius: var(--rad) 0 0 var(--rad);
}
.qItemBtn:last-child{
    border-radius: 0 var(--rad)  var(--rad) 0;
}

