@import url('reset.css');
:root{
    --pad:.8rem;
    --rad:8px;
    --width:1100px;

    /*colors*/
    --backColor:#FFFFFF;
    --textColor:#2F3C43;
    --borderColor:#2F3C43;
    --buttonColor:#64B8E8;
    --hoverColor:#49a6dc;
    --errorColor:#881B1B;

}
input:focus, input:active, textarea:focus, textarea:active{
    outline: none !important;
}

body{
   font-family: 'Rubik', sans-serif;
   font-size: 14px;
   line-height: 1.2em;
   font-weight: 400;
   background-color: var(--backColor);
   color: var(--textColor);
}
.mainTower{
    width: var(--width);
    margin: 0 auto;
    box-sizing: border-box;
    padding: var(--pad);
}
.regBoxButton{
    cursor: pointer;
}
.inputGroup{
    position: relative
}
.inputGroup input{
    border:1px solid var(--hoverColor);
    border-right: none;
    padding: var(--pad);
}
.inputGroup input:first-of-type{
    border-top-left-radius: var(--rad);
    border-bottom-left-radius: var(--rad);
}
.inputGroup input:last-child{
    border-top-right-radius: var(--rad);
    border-bottom-right-radius: var(--rad);
    border-right: 1px solid var(--hoverColor);
    width: 100px;
    text-align: center;
    font-weight: bold;
}
.inputGroup input[type='button']{
    background-color: var(--buttonColor);
    color: var(--backColor);
}
.inputGroup input[type='button']:hover{
    background-color: var(--hoverColor);
}
.btn{
    background-color: var(--buttonColor);
    color: var(--backColor);
    border:1px solid var(--hoverColor);
    border-right: none;
    padding: var(--pad);
    cursor: pointer;
    border-radius: var(--rad);
}
.btn:hover{
    background-color: var(--hoverColor);

}

.mb{
    margin-bottom: var(--pad);
}
.mb2{
    margin-bottom: calc(var(--pad) * 2);
}
.mt{
    margin-top: var(--pad);
}
.inputGroup .errorMessaage{
    display: none;
}
.inputGroup.error .errorMessaage{
    display: block;
    position: absolute;
    left: var(--pad);
    top: 0;
    font-size: .5em;
    color: var(--errorColor);
}
.inputGroup.error input{
    border-color: var(--errorColor);
}
.codeInput{
    display: none;
}
.eventMenu {
    display: flex;
    align-items: center;
    justify-content: center;
}
.eventMenuItem{
     padding:  var(--pad);
     cursor: pointer;
     border-bottom: 2px solid var(--textColor);
     border-top-left-radius:var(--rad);
     border-top-right-radius:var(--rad);
 }
.eventMenuItem:hover{
    background-color: var(--hoverColor);
    color: var(--backColor);

}
.eventMenuItem.active{
    border-bottom: 2px solid var(--hoverColor);
    background-color: var(--buttonColor);
    color: var(--backColor);
}
.linkTitle{
    font-size: 1.5rem;
}
.linkGroup{
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: var(--buttonColor);
    color: var(--backColor);
    border-radius: var(--rad);
    cursor: pointer;
    width: max-content;
}
.linkText{
    font-size: 1.5rem;
    align-items: center;
    justify-content: left;
    padding: 0 var(--pad);

}
.linksWr{
    margin-top:calc(var(--pad) * 4)
}
