@import url('reset.css');
:root{
    --pad:.8rem;
    --rad:8px;
    --width:1100px;

    /*colors*/
    --backColor:#FFFFFF;
    --textColor:#2F3C43;
    --borderColor:#2F3C43;
    --buttonColor:#64B8E8;
    --hoverColor:#49a6dc;
    --errorColor:#881B1B;
    --grayColor:#F5F7F9;
    --disableColor:#708ab8;
    --backgroundYellowColor: #f9843429;
    --yellowColor: #f98434;
    --yellowHoverColor:#ff5900;

}
input:focus, input:active, textarea:focus, textarea:active{
    outline: none !important;
}
a, a:visited, a.active{
    text-decoration: none;
    color:var(--textColor)
}


body{
   font-family: 'Rubik', sans-serif;
   font-size: 14px;
   line-height: 1.2em;
   font-weight: 400;
   background-color: var(--backColor);
   color: var(--textColor);
}
textarea{
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    line-height: 1.2em;
    background-color: var(--backColor);
    color: var(--textColor);
    resize: none;
}
.mainTower{
    width: var(--width);
    margin: 0 auto;
    box-sizing: border-box;

}
.regBoxButton{
    cursor: pointer;
}
.inputGroup{
    position: relative
}
.inputGroup input{
    border:1px solid var(--hoverColor);
    border-right: none;
    padding: var(--pad);
}
.inputGroup input:first-of-type{
    border-top-left-radius: var(--rad);
    border-bottom-left-radius: var(--rad);
}
.inputGroup input:last-child{
    border-top-right-radius: var(--rad);
    border-bottom-right-radius: var(--rad);
    border-right: 1px solid var(--hoverColor);
    width: 100px;
    text-align: center;
    font-weight: bold;
}
.inputGroup input[type='button']{
    background-color: var(--buttonColor);
    color: var(--backColor);
}
.inputGroup input[type='button']:hover{
    background-color: var(--hoverColor);
}
.btn{
    background-color: var(--buttonColor);
    color: var(--backColor);
    border:1px solid var(--hoverColor);
    border-right: none;
    padding: var(--pad);
    cursor: pointer;
    border-radius: var(--rad);
}
.btn:hover{
    background-color: var(--hoverColor);

}

.mb{
    margin-bottom: var(--pad);
}
.mb2{
    margin-bottom: calc(var(--pad) * 2);
}
.mb3{
    margin-bottom: calc(var(--pad) * 3);
}
.mb4{
    margin-bottom: calc(var(--pad) * 4);
}
.mt{
    margin-top: var(--pad);
}
.inputGroup .errorMessaage{
    display: none;
}
.errorMessaage{
    color: var(--errorColor);
}
.inputGroup.error .errorMessaage{
    display: block;
    position: absolute;
    left: var(--pad);
    top: 0;
    font-size: .5em;
    color: var(--errorColor);
}
.inputGroup.error input{
    border-color: var(--errorColor);
}
.codeInput{
    display: none;
}
.eventMenu {

    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding-top: 4px;
    box-shadow: 0 0 4px 0 var(--textColor);
    z-index: 100;
    background: white;
}
.eventMenuWr{
    display: flex;
    align-items: center;
    justify-content: left;
}
.eventMenuItem{
     padding:  var(--pad);
     cursor: pointer;
     border-bottom: 2px solid transparent;
     border-top-left-radius:var(--rad);
     border-top-right-radius:var(--rad);
 }
.eventMenuItem:hover{
    background-color: var(--hoverColor);
    color: var(--backColor);

}
.eventMenuItem.active{
    border-bottom: 2px solid var(--hoverColor);
    background-color: var(--buttonColor);
    color: var(--backColor);
}
.linkTitle{
    font-size: 1.5rem;
}
.linkGroup{
    display: flex;
    align-items: center;
    justify-content: left;
   /* background-color: var(--buttonColor);*/

    color: var(--backColor);
    border-radius: var(--rad);
    cursor: pointer;
    width: max-content;
}
.linkText{

    align-items: center;
    justify-content: left;
    padding: calc(var(--pad) / 2)  var(--pad);
    border: 1px solid var(--borderColor) ;
    border-radius: var(--rad) 0 0 var(--rad);
    border-right: none;
    color: var(--textColor);
    background-color: var(--grayColor);

}
.linkGroup .btn{
    padding: calc(var(--pad) / 2) var(--pad);
    border-radius:  0 ;
}
.linkGroup .btn:last-of-type{
    border-radius:  0 var(--rad) var(--rad) 0;
}

.eventBody{
    margin-top: calc(var(--pad) * 6);
}
.switcherBox{
    position: relative;
    width: 3rem;
    box-sizing: border-box;
    height: 1.2rem;
    background-color: var(--grayColor);
    border:1px solid var(--borderColor);
    border-radius: var(--rad);
    cursor: pointer;
}
.switcherElem{
    position: absolute;
    top:0;
    left: calc(var(--rad) / 4);
    bottom: 0;
    width: calc(1.2rem - 4px);
    background-color: var(--backColor);
    border-radius: 50%;
    border:1px solid var(--borderColor);
}
.switcherTextOff{
    display: block;
    padding-left: var(--pad);
}
.switcherTextOn{
    display: none;
    padding-left: var(--pad);
}
.active .switcherTextOff{
    display: none;
}
.active .switcherTextOn{
    display: block;
}
.active .switcherBox{
    background-color: var(--buttonColor);
}
.active .switcherBox .switcherElem{

    left:inherit;
    right: calc(var(--rad) / 4);;
    bottom: 0;
}
.switcherWr{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-right: var(--pad);
    width: 50%;
}
.flex{
    display: flex;
}
.center{
    align-items: center;
    justify-content: center;
}
.left{
    align-items: center;
    justify-content: left;
}
.qWr{
    border-radius: var(--rad);
    border:1px solid var(--borderColor);
    box-sizing: border-box;
    padding: var(--pad);
    padding-right: calc(var(--pad) * 2);
    background-color: var(--grayColor);
    height: calc(100vh - 11rem);
    overflow-y: auto;
}
.qItem{
    padding: var(--pad);
    background-color: var(--backColor);
    border-radius: var(--rad);
}
.qItemHead{
    font-weight: bold;
    margin-bottom: calc(var(--pad) / 2);
}
.qItemBtnGroup{}
.qItemBtn{
    width: 98px;
    text-align: center;
    font-size: .8rem;
    padding: calc(var(--pad) / 4);
    background-color: var(--grayColor);
    border:1px solid var(--borderColor);
    cursor: pointer;
    border-right: none;
}

.qItemBtn.active{
    background-color: var(--buttonColor);
    color:var(--backColor);
}

.qItemBtn:first-child{
    border-radius: var(--rad) 0 0 var(--rad);
}
.qItemBtn:last-of-type{
    border-radius: 0 var(--rad)  var(--rad) 0;
    border-right:1px solid var(--borderColor);
}
.red{
    background-color: var(--errorColor) !important;
    color: #FFFFFF !important;
}
.qTotal{
    padding-left: var(--pad);
}
.qSendWr textarea{
    box-sizing: border-box;
    border:1px solid var(--borderColor);
    border-radius: var(--rad);
    padding: var(--pad);
    width: 100%;
    height: 6em;
}
.fullScreenWr{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
    background-color: #FFFFFF55;
}
.fullScreenBox{
    box-sizing: border-box;
    width: 600px;
    padding: calc(var(--pad) * 2 );
    border-radius: var(--rad);
    color: var(--textColor);
    background-color: var(--backColor);
    border:1px solid var(--borderColor);
    box-shadow: 0px 1px 4px 0 var(--borderColor);
    position: relative;
}
.h{
    font-size: 1.2rem;
    line-height: 1.3rem;
    /*font-weight: bold;*/
}
.regGroupTitle{
    width: 100px;
}
.regGroup input[type='text'],.regGroup  input[type='tel'],.regGroup  input[type='email']{
    box-sizing: border-box;
    padding: var(--pad);
    border-radius: var(--rad);
    color: var(--textColor);
    background-color: var(--backColor);
    border:1px solid var(--borderColor);
    width: calc(100% - 100px);
}
.btnClose{
    position: absolute;
    top: -16px;
    right: -16px;
    cursor: pointer;
    width: 64px;
    height: 64px;
}
.btnClose svg{
    width: 100%;
    height: auto;
}
.regGroupCap{
    padding-left: var(--pad);
}
.border{
    border-radius: var(--rad);
    border:1px solid var(--borderColor);
    box-sizing: border-box;
}
.checkBox{
    width: 1.2rem;
    height: 1.2rem;
    background-color: var(--backColor);
    position: relative;
}
#persConfirm{
    cursor: pointer;
}
.checkBox.active{
    background-color: var(--buttonColor);
}

.checkBox.active::after{
   content: "\2714";
    color: var(--backColor);
    position: absolute;
    top:0px;
    left: 2px;
}
.pQWr{
    border-radius: var(--rad);
    border:1px solid var(--borderColor);
    box-sizing: border-box;
    padding: var(--pad);
    padding-right: calc(var(--pad) * 2);
    background-color: var(--grayColor);
    overflow-y: auto;
}
.pqBox{
    max-height: calc(100vh - 330px);
    overflow-y: auto;
    padding-right: var(--pad);

}
.pqContainer{
    position: relative;
}
.pqItemText,.qItemText{
    word-break: break-word;
}
.pbNewQWr{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--grayColor);
    text-align: center;
    color:var(--buttonColor);
    border:1px solid var(--buttonColor);
    border-radius: var(--rad);
    padding:var(--pad);
    cursor: pointer;
}
.uploading{
    position: fixed;
    bottom: 0;
    right: 0;
    background: var(--backColor);
    /* border: 1px solid; */
    padding: calc(var(--pad) / 2);
    font-size: .75rem;
    box-shadow: 0 0 2px 0 black;
    border-top-left-radius: var(--rad);
}
.uploadingTitle{
    font-weight: bold;
}
.uploadingWr{
    max-height: 30vh;
    overflow-y: auto;
}
.uploadingItem{
    position: relative;
    padding: calc(var(--pad) / 2 ) ;
}
.uploadingItemBg{
    position: absolute;
    top: 0;
    height: 100%;
    z-index: -1;
    left: 0;
    width: 0%;
    background-color: var(--buttonColor);
    border-radius:calc( var(--rad) / 2 )
}
.uploadingItem.err .uploadingItemBg{
    background-color: var(--errorColor);
}
.uploadingItem.err .uploadingItemTitle{
    color:var(--backColor)
}
#fileWr.highlight{
    border-color: var(--buttonColor);
}
.fileDlWr{
    background-color: var(--buttonColor);
    border-radius:calc( var(--rad) );
    padding:  calc(var(--pad) / 2) var(--pad);
    margin-right:  var(--pad);
    text-align: center;
    cursor: pointer;
    width: 60px;
}
.fileDlWr:hover{
    background-color: var(--hoverColor);
}
.fileDlIco{}
.fileDlSize{
    color: var(--backColor);
    font-size: .5rem;
}
.fileTitleWr{
    width: calc(100% - 100px);
 }
.fileTitleWr input{
    width: 400px;
    border:1px solid var(--buttonColor);
    border-radius: var(--rad);
    padding: calc(var(--pad) / 2) var(--pad);
    color:var(--textColor);
    background-color: var(--backColor);
}
.fileTitleWr .qItemHead{
    padding-left: var(--pad);
}
.qItemFileDescr{
    padding-left:var(--pad);
    word-break: break-word;

}
.vItemTitle input{
    box-sizing: border-box;
    width: 100%;
    font-size: 1.2rem;
    font-weight: bold;
    border: 1px solid var(--buttonColor);
    border-radius: var(--rad);
    padding: calc(var(--pad) / 2) var(--pad);
    color: var(--textColor);
    background-color: var(--backColor);
}
.switcherWr.w3{
    width: 33.3333%;
}
.btn.small{
    width: max-content;
    padding:calc(var(--pad)/2) var(--pad);
}
.vVoteBox{
    display: flex;
    align-items: baseline;
    justify-content: left;
}
.vAnswBox{
    padding-left: var(--pad);
}
.vVoteAnswInput{
    padding:calc(var(--pad)/4) var(--pad);
    border: 1px solid var(--buttonColor) ;
    border-radius: var(--rad) 0 0 var(--rad);
    box-sizing: border-box;
    width: 700px;
}
.vVoteAnswInputNumber{
    font-size: .8em;
    width: 80px;
}
.voteAnswer{
    cursor: pointer;
    border-bottom: 1px solid var(--backgroundYellowColor);
    padding-bottom: var(--pad);
}
.voteButton{
    border: 1px solid var(--borderColor) ;
    background-color: var(--grayColor);
    padding: var(--pad) var(--pad);
    width: 125px;
    cursor: pointer;
    border-radius: var(--rad);
}
.qItem.started{
    background-color: var(--backgroundYellowColor);

}
.voteAnswerTitle{
    box-sizing: border-box;
    padding: 0 var(--pad);
    width: calc(100% - 125px);
}
.voteAnswer.active .voteButton{
    background-color: var(--buttonColor);
    color: var(--backColor);
}
.voteResBox{
    width: 125px;
    box-sizing: border-box;
    padding: var(--pad);
}
.voteResBox.active{
    color: var(--backColor);
    background-color: var(--buttonColor);
    border-radius: var(--rad);
}
.voteResBoxPers, .voteResCountBox{
    box-sizing: border-box;
    padding-right: var(--pad);
}
.voteResPercent{
    height: var(--pad);
    margin-bottom: calc(0  - var(--pad));
    background-color: var(--backgroundYellowColor);
}
.voteAnswers.isComplite .voteAnswer{
    padding-bottom: 0;
}
.voteButton.process, .btn.process{
    position: relative;
}

.voteButton.process:before, .btnCloud.process:before{
    content: 'Ваш голос учтен';
    background-color: var(--yellowColor) !important;
    color: var(--backColor) !important;
    border-radius: var(--rad);
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: var(--pad);
    position: absolute;
}
.btnCloud.process:before{
    content: 'Отправлено';
    text-align: center;
}
.cloudResContainer{
    width: min(600px, 100%);
    margin: 0 auto;
    border-radius: var(--borderColor);
    overflow:hidden;

}
.anychart-credits{
    display: none !important;
}
.aSelectCtrl{}
.aSelectCtrlTItle{}
.aSelectCtrlTItleSelected{
    display: none;
}
.aSelectCtrl[value] .aSelectCtrlTItle{display: none}
.aSelectCtrl[value] .aSelectCtrlTItleSelected {display: block}
.aSelectCtrl{
    position: relative;
    display: block;
    cursor: pointer;
    padding: var(--pad);
    border-radius: var(--rad);
    border:1px solid var(--borderColor);
}
.aSelectCtrl::after{
    position: absolute;
    right: var(--pad);
    top:calc(var(--pad)/2);
    content: '\2304';
    z-index: 10;
}
.aSelectCtrlItemsWr{
    display: none;
}
.aSelectCtrl.active .aSelectCtrlItemsWr{
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: calc(var(--pad)*2);
    background-color: var(--backColor);
    min-height: 100%;
    padding: var(--pad);
    border-radius: var(--rad);
    border:1px solid var(--borderColor);
    z-index: 100;
}
.aSelectCtrlItem{
    padding: calc(var(--pad)/2);

}
.aSelectCtrlItem:hover{
    background-color: var(--grayColor);
    border-radius: var(--rad);
}
.aSelectCtrlItem.active{
    background-color: var(--hoverColor);
    color: var(--backColor);
    border-radius: var(--rad);
}

.aPlayerInput{
    border-radius: var(--rad);
    padding: calc(var(--pad)/2);
    border:1px solid var(--borderColor);
    font-size: .8em;
    box-sizing: border-box;

    width: 100%;
}
textarea.aPlayerInput{
    height: 8em;
}
.half{
    width: calc(50% - var(--pad));
    box-sizing: border-box;
    margin-right: var(--pad);
}
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.videoWrapper iframe, .videoWrapper .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.aPlayerCtrlBox{
    align-items: flex-start;
}
.uploadGroup input {
    border-radius:  var(--rad) 0 0  var(--rad) ;
    padding: calc(var(--pad)/2);
    border:1px solid var(--borderColor);
    font-size: .8em;
    box-sizing: border-box;
    border-right: none;
    width: calc(100% - 36px);
}
.uploadGroup .uploadBtn{
    box-sizing: border-box;
    border-radius:  0 var(--rad)    var(--rad) 0 ;
    border-left: none;
    width: 36px;
    cursor: pointer;
    background-color: var(--hoverColor);
    color: var(--backColor);
    padding: calc(var(--pad)/2);
    text-align: center;
    font-weight: bold;
}
.clientPlayer{
    width: min(600px,100%);
    margin: 0 auto;
}
.baro{
    width:100%;
    height:40px;
    position: relative;
}
.baroScroll{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    height: 20px;
   background:linear-gradient(to left, var(--yellowColor), var(--buttonColor));
}
.baroScale{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    height: 20px;
}
.baroPointer{
    position: relative;
    height: 20px;
}
.baroButton{
    width: 40px;
    height: 40px;
    background: #ffffff;
    padding: 4px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    left: -10px;
    top: -12px;

}
.baroButton:hover{
    background-color: var(--yellowColor);
}
.baroButton.unlike{
    left: inherit;
    right: -10px;
}
.baroButton svg{
    height: auto;
    width: 100%;
}
.baroButton.unlike:hover{
    background-color: var(--buttonColor);
}


